@import '../../theme/breakpoints';

.task {
    align-items: center;
    background-color: var(--paletteColor2);
    border-radius: 5px;
    box-shadow: 6px 6px 14px var(--rgbaColor1);
    display: flex;
    font-size: 20px;
    font-weight: 400;
    height: 61px;
    justify-content: space-between;
    margin-bottom: 13px;
    padding: 0 20px;
    position: relative;

    & svg {
        cursor: pointer;        
    }

    & .content {
        align-items: center;
        display: flex;
        width: 85%;
        
        &.toggleTaskCompletedState {
            margin-right: 20px;
        }
       
        & span {
            display: flex;
            align-items: center;
            margin-right: 1.9rem;
        }

        & input[type='text'] {
            width: 100%;
            border-color: transparent;
            /* color: var(--paletteColor6); */
            font-size: 20px;
            transition: color .1s ease-in-out;
            

            &:not([disabled]) {
                border-color: var(--paletteColor3);
            }
        }
        
    }

    & .actions {
        min-width: 100px;

        & .toggleTaskFavoriteState,
        & .updateTaskMessageOnClick {
            margin-right: 20px;
        }
    }

    @media (width <= 740px) {
        flex-direction: column-reverse;
        padding: 10px 5px;
        height: auto;

        & .content {
            width: 95%;
        }

        & .actions {
            margin-bottom: 7px;
            align-self: flex-end;
        }
    }
}

.completed {
    background-color: var(--paletteColor8);
    color: var(--paletteColor9);

    & .content {
        & input[type='text'] {
            background-color: var(--paletteColor8);
        }
    }
}
.timeTask {
            font-size: 10px;
            padding-left: 14px;
            color: var( --paletteColor9);
            font-family: Verdana, Geneva, sans-serif;
            font-weight: bold;
        }
